@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-title {
    @apply text-center text-5xl md:text-[54px] md:leading-[60px] bg-clip-text;
    font-family: 'Get Schwifty', sans-serif;
    -webkit-text-stroke: 1px #bfde42;
    color: #41b4c9;
    font-size: 68px;
  }

  .add-border {
    border: 1px solid red;
  }

  
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('./assets/fonts/get_schwifty.ttf') format('truetype');
}

body {
  background: #203745;
}

