@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-title {
    @apply text-center text-5xl md:text-[54px] md:leading-[60px] bg-clip-text;
    font-family: 'Get Schwifty', sans-serif;
    -webkit-text-stroke: 1px #bfde42;
    color: #41b4c9;
    font-size: 68px;
  }

  .add-border {
    border: 1px solid red;
  }

  .font-audiowide {
    font-family: 'Audiowide', sans-serif;
  }

  .font-rick {
    font-family: 'Get Schwifty', sans-serif;
  }

  .btn-page {
    @apply px-4 py-2 bg-[#41b4c9] text-[#bfde42] rounded-lg hover:bg-[#256672] disabled:bg-[#7d8181];
    font-family: 'Get Schwifty', sans-serif;
  }

  .font-pages {
    @apply text-lg text-white font-audiowide;
  }


  
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('./assets/fonts/get_schwifty.ttf') format('truetype');
}

@font-face {
  font-family: 'Audiowide';
  src: url('./assets/fonts/Audiowide-Regular.ttf') format('truetype');
}

body {
  background: #203745;
}

